<%- include('header'); -%>          // indicates the layout name in the views folder => Header.ejs

<section>
    <div class="container first-scene">
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
    </div>
</section>

    
<%- include('footer'); -%> // indicates the layout name in the views folder => footer.ejs