<%- include('partials/header'); -%>


<section>
    <div class="container first-scene">
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
        <h1>Hello World</h1>
    </div>
</section>

    
<%- include('partials/footer'); -%>